.app {
  background-color: #282c34;
  color: white;
}

/* Scanner */

#html5qr-code-full-region {
  background-color: white;
  color: #282c34;
  font-size: 12pt;
}

@media(max-width: 640px) {
  #html5qr-code-full-region {
    width: 275px;
  }

  #qr-shaded-region {
    width: 0%
  }

  video {
    width: 275px !important;
  }
}

@media(min-width: 640px) {
  #html5qr-code-full-region {
    width: 275px;
  }
}

.Result-container {
  min-width: 600px;
  margin: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.Result-header {
  font-size: 16pt;
  margin-bottom: 20px;
}

/* Book results */

table {
  max-width: 666px;
  width: 90vw;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(247, 246, 246, 0.9);  
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(204, 202, 202);
}


th {
  text-align: left;
}

thead th {
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

tr:hover {
  background-color: #464c5a;
}

a {
  color: white
}

.table-img {
  width: 100px;
  height: 150px;
}

.table-img img {
  width: 100px;
}

#isbn-div {
  display: flex;
}

#isbn-div input {
  text-align: center;
  font-size: 2rem;
}

#isbn-field {
  width: 60%;
  display: inline;
}

#lookup {
  margin-top: -5px;;
}

#isbn-label {
  display: block;
}

.btn-clear {
  margin-inline: 20px;
}


.bigRow {
  border: 3px solid black;
}

.book-section-1 {
  width: 55vw;
}

.book-section-2 {
  width: 10vw;
}

.book-section-3 {
  width: 15vw;
}

.book-author {
  font-size: 1.3rem;
}

.book-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.book-item {
  padding-block: .25em;
}

#lookup {
  border-radius: 50%;
}